<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @team.user_id %>
</p>

<p>
  <strong>Player1:</strong>
  <%= @team.player1 %>
</p>

<p>
  <strong>Player:</strong>
  <%= @team.player_id %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @team.player2 %>
</p>

<p>
  <strong>Player:</strong>
  <%= @team.player_id %>
</p>

<p>
  <strong>Player3:</strong>
  <%= @team.player3 %>
</p>

<p>
  <strong>Player:</strong>
  <%= @team.player_id %>
</p>

<p>
  <strong>Player4:</strong>
  <%= @team.player4 %>
</p>

<p>
  <strong>Player:</strong>
  <%= @team.player_id %>
</p>

<p>
  <strong>Player5:</strong>
  <%= @team.player5 %>
</p>

<p>
  <strong>Player:</strong>
  <%= @team.player_id %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @team.string %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
