<%= form_with(model: game_card) do |form| %>
  <% if game_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_card.errors.count, "error") %> prohibited this game_card from being saved:</h2>

      <ul>
        <% game_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :default_rating %>
    <%= form.number_field :default_rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
