<p id="notice"><%= notice %></p>

<h1>Game Cards</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Default rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_cards.each do |game_card| %>
      <tr>
        <td><%= game_card.location %></td>
        <td><%= game_card.default_rating %></td>
        <td><%= link_to 'Show', game_card %></td>
        <td><%= link_to 'Edit', edit_game_card_path(game_card) %></td>
        <td><%= link_to 'Destroy', game_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Card', new_game_card_path %>
